.card-info {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #ffc800;
    -fx-text-fill: radial-gradient(center 30% 30%,radius 100%, #8448f5, #2b9903);
}

.background {
    -fx-background-color: radial-gradient(center 30% 30%,radius 100%, #00ffd9, #f3f5f3);
}

.button {
    -fx-background-color: #00000f;
    -fx-text-fill: #ffc800;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-text-fill: radial-gradient(center 30% 30%,radius 100%, #ffc800, #2b9903);
}

.disabled-button {
    -fx-background-color: #a8a8a8;
    -fx-text-fill: #383836;
    -fx-background-radius: 200px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #010132;
}
.button:pressed {
    -fx-translate-y: +2;
}

.debug {
    -fx-background-color: #f8074c;
}